.queue-wrapper{
   margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.queue-wrapper h1{
    color: white;

}

.current-track{
    display: flex;
    flex-direction: column;
    gap: 10px;

.currently-playing-track{
    transform: scale(0.95);
    position: relative;
    left: -30px
}
    & p {
        font-family: 'Gotham Light', sans-serif;
        font-weight: bold;

        color: #b3b3b3;
    }
}

