:root {
  --search-bar-size: 350px;
}

.search-bar{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.search-bar-wrapper {
  background-color: #242424;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 25px;
  width: var(--search-bar-size);
}
 .search-with-nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
   flex-wrap:wrap;

}

.navigation-with-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
}

.left-right-nav button img {
  background-color: black;
  border-radius: 100%;
  padding: 3px;
  
}
.install-profile{
  display: flex;
  align-items: center;
  gap: 10px;
}

.install-profile img{
  border-radius: 20px;
  padding: 2px;
  background-color: black;
  cursor: pointer;
}

.install-profile a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  gap: 3px;
  transition: all 200ms linear;
}

.install-profile a:hover{
  transform: scale(1.05);
}

.search-bar-wrapper:hover {
  -webkit-box-shadow: 0 0 0 1px #494949;
  box-shadow: 0 0 0 1px #494949;
}



input {
  border: none;
  outline: transparent;
  background-color: inherit;
  width: var(--search-bar-size);
  font-family: "Gotham Medium", sans-serif;
  color: white;
}



img{
    margin-top: -8px;
    margin-bottom: -8px;
}

@media (max-width: 900px) {
    .install-profile a{
      display: none;
    }
}