.category-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}


h1 {
    color: white;

}
.category-playlists-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;

}