.nav-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #b3b3b3;
    background-color: #121212;
    gap: 25px;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    font-size: 14px;
}


.home-box,
.search-box {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav-img {
    width: 28px;
    height: 28px;
    transition: all 300ms ease-in-out;
}


.home-box:hover,
.search-box:hover {
    color: white;
    transition: all 300ms ease-in-out;
}
