.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.album-card {
  background-color: #181818;
  display: flex;
  height:fit-content;
  width: fit-content;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  gap: 30px;
  position: relative;
  transition: all 300ms linear;
}

.album-card:hover {
  background-color: #302f2f;
}

.album-img {
  display: flex;
  height: 180px;
  width: 210px;
  z-index: 1;
  padding: 0 15px 0 15px;

}

.album-img img {

  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 15px;
 
}

.album-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0 15px 30px 15px;
  z-index: 1;
}

.album-details a {
  font-size: 14px;
  color: white;
}

.album-details a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.album-details p {
  align-items: flex-end;
  color: #a7a7a7;
  font-size: 12px;
  font-family: "Gotham Medium", sans-serif;
}


.album-hover-button{

  position: absolute;
  z-index: 2;
  margin-left: 58%;
  margin-top: 60%;
   
  }

  .album-hover-button div {
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  