button {
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
}

.player-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.streaming-devices {
    display: flex;
    align-content: center;
    width: 67.7%;
    justify-content: space-between;
}


.currently-playing-info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 34%;
    height: 100%;
}


.currently-playing-info-album-img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.currently-playing-info-album-img img {
    object-fit: contain;
    border-radius: 3px;
    width: 55px;
    height: 55px;
}

.currently-playing-info-album-img-skeleton {
    width: 60px;
    height: 55px;
    border-radius: 3px;
    animation: brightness-animation 3s ease-in-out infinite;
    background-color: #3e3c3c69;
}

.song-name-skeleton {
    width: 100px;
    height: 10px;
    animation: brightness-animation 3s ease-in-out infinite;
    background-color: #3e3c3c69;
    border-radius: 3px;
}

.artists-name-skeleton {
    width: 60px;
    height: 8px;
    animation: brightness-animation 3s ease-in-out infinite;
    background-color: #3e3c3c69;
    border-radius: 3px;
}

@keyframes brightness-animation {
    0% {
        background-color: var(--default-background-color);
    }
    50% {
        background-color: rgb(93, 91, 91);

    }
    100% {
        background-color: #3e3c3c69;

    }
}


.song-info {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding-right: 10px;

    .song-info-box-without-heart {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        border-radius: 4px;


        .song-name-artists-details {
            display: flex;
            flex-direction: column;
            gap: 5px;

        }
    }

}

.song-info .song-name {
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: "Gotham Light", sans-serif;
    cursor: pointer;


}

.song-name-box {
    overflow: hidden;
    width: 100%;
}

.song-name {
    white-space: nowrap;
    position: relative;

}


.song-name-box::-webkit-scrollbar {
    display: none;
}


.song-info .artists-name {
    color: #939393;
    font-family: "Gotham Medium", sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.artists-name {
    white-space: nowrap;
    position: relative;
}

.song-info a:hover {
    color: white;
    text-decoration: underline;
}

/* playback */

.play-buttons {

    filter: brightness(50%);
}

.play-buttons:active {
    scale: 0.97
}

.play-buttons:hover {
    filter: brightness(100%);
}

.play-pause-btn:hover {
    scale: 1.05
}

.play-pause-btn:active {
    scale: 0.97
}

.playback-control {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 5px;
    width: 50%
}

.actual-controls {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.duration p {
    color: #939393;
    font-size: 12px;
    font-family: "Gotham Light", sans-serif;
    font-weight: bold;
    width: 45px;
}

.duration-trackbar {
    display: flex;
    align-items: center;
}

.duration-trackbar img {
    margin-left: -3px;
}

.duration-track {
    background-color: white;
}

.duration-trackbar:hover {
    cursor: pointer;
}


/* devices and other controls */
.devices-volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 26%;


}

.devices-volume img {
    cursor: pointer;
}

.devices-volume button {
    outline: none;
    border: none;
    margin-bottom: 3px;

}


.duration > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.duration > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0
}

.volume-rocker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
}

.volume-rocker::-webkit-slider-thumb:hover,
.duration > input[type="range"]::-webkit-slider-thumb:hover {
    opacity: 1
}

.volume-rocker {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;


    outline: none;
    border: none;
    border-radius: 5px;
}

.player {
    display: flex;
    flex-direction: column;
}

.which-device {
    background-color: #1ed760;
    height: 24px;
    border-radius: 5px;
    color: black;
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.which-device h5 {
    font-family: 'Gotham Light', sans-serif;
    padding: 5px;
    margin-right: 100px;
}

.devices-triangle {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3px;

    .choose-devices {
        filter: invert(28%) sepia(60%) saturate(3000%) hue-rotate(83deg) brightness(95%) contrast(80%);
        margin-left: 2px;

    }


    & button {
        outline: none;
        border: none;
        background-color: transparent;

    }

}

.volume-controller, .volume-controller > button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.volume-controller > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.devices-triangle > .triangle {

    width: 10px;
    height: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid #1ed760;
    position: absolute;
    margin-top: 25px;
    z-index: 1
}

.devices-popup {
    position: absolute;
    z-index: 999;
    background-color: #282828;
    width: 280px;
    height: 350px;
    left: -129px;
    bottom: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .available-devices-triangle-indicator {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #282828;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -12px;
        left: 128px;
        z-index: 999
    }
}

.listening-on {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.actual-device {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;


    & h4 {
        color: #1ed760;
        font-family: "Gotham Light", sans-serif;
    }
}

.available-devices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    & h4 {
        color: white;
        font-family: "Gotham Light", sans-serif;
        font-weight: bold;
    }

    .other-devices {

        overflow-y: scroll;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        & div {
            display: flex;
            gap: 20px;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 50px;
            padding: 10px;
        }

        & div:hover {
            background-color: #302f2f;
            border-radius: 10px;
        }

    }
}


/* player skeleton */

.skeleton-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;

    gap: 12px;
    color: white;

    .player-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;

        & img {
            filter: brightness(40%);
        }
    }

    .streaming-progress {
        display: flex;
        width: 400px;
        align-items: center;
        justify-content: space-between;
        color: #939393;
        font-size: 12px;
        font-family: "Gotham Light", sans-serif;
        font-weight: bold;
        filter: brightness(50%);

        .duration-placeholder {
            background-color: rgba(147, 147, 147, 0.93);
            height: 4px;
            width: 80%;
            border-radius: 5px;
        }


    }
}

@media only screen and (max-width: 800px){
    .full-screen-icon{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .volume-controller {
        & > input {
            display: none;
        }
    }

}

@media only screen and (max-width: 520px) {
    .volume-controller {
        display: none;
    }
}