button {
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
}

.player-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.currently-playing-info {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    overflow: hidden;
    min-width: 250px;
}


.currently-playing-info-album-img img {
    object-fit: contain;

}

.currently-playing-info-album-img-skeleton {
    width: 60px;
    height: 55px;
    border-radius: 3px;
    animation: brightness-animation 3s ease-in-out infinite;
    background-color: #3e3c3c69;
}


@keyframes brightness-animation {
    0% {
        background-color: var(--default-background-color);
    }
    50% {
        background-color: rgb(93, 91, 91);

    }
    100% {
        background-color: #3e3c3c69;

    }
}


.song-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.song-info .song-name {
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: "Gotham Light", sans-serif;
    cursor: pointer;

}

.song-name-box {
    overflow: hidden;
    width: 200px;

}

.song-name {
    white-space: nowrap;
    position: relative;

}



.song-name-box::-webkit-scrollbar {
    display: none;
}



.song-info .artists-name {
    color: #939393;
    font-family: "Gotham Medium", sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.song-info a:hover {
    color: white;
    text-decoration: underline;
}

/* playback */

.playback-control {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.actual-controls {
    display: flex;
    gap: 5px;

    justify-content: center;
    align-items: center;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.duration p {
    color: #939393;
    font-size: 12px;
    font-family: "Gotham Light", sans-serif;
    font-weight: bold;
    width: 45px;
}

.duration-trackbar {
    display: flex;
    align-items: center;
}

.duration-trackbar img {
    margin-left: -3px;
}

.duration-track {
    background-color: white;
}

.duration-trackbar:hover {
    cursor: pointer;
}


/* devices and other controls */
.devices-volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.devices-volume img {
    cursor: pointer;
}

.devices-volume button {
    outline: none;
    border: none;
    margin-bottom: 3px;

}


.duration > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.duration > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px; /* Adjust the thumb size as needed */
    height: 12px; /* Adjust the thumb size as needed */
    background: #ffffff;
    border: 1px solid #cccccc; /* Adjust the thumb border as needed */
    border-radius: 50%; /* Make the thumb round */
    cursor: pointer;
    opacity: 0
}

.volume-rocker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
}

.volume-rocker::-webkit-slider-thumb:hover,
.duration > input[type="range"]::-webkit-slider-thumb:hover {
    opacity: 1
}

.volume-rocker {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;

    outline: none;
    border: none;
    border-radius: 5px;
}

.player {
    display: flex;
    flex-direction: column;
}

.which-device {
    background-color: #1ed760;
    height: 24px;
    border-radius: 5px;
    color: black;
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.which-device h5 {
    font-family: 'Gotham Light', sans-serif;
    padding: 5px;
    margin-right: 100px;
}

.devices-triangle {
    display: flex;
    flex-direction: column;
}

.devices-triangle > div {

    width: 10px;
    height: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid #1ed760;
    position: absolute;
    margin-top: 25px;

}