.main-container {
    background: #121212;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-icon-log-out-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;

    .log-out-btn{
        color: #121212;
        background-color: #1ed760;
        padding: 10px;
        font-size: 12px;
        border-radius: 30px;
    }

    .log-out-btn:hover{

        scale: 1.05
    }



    .log-out-btn:active{
        scale: 0.95;
    }
}

.head-of-main {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 5px;


}

.header-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #121212;
}

.left-right-nav button img {
    background-color: #000000;
    border-radius: 100%;
    padding: 3px;

}

.left-right-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fast-access{
    display: flex;
    align-items: center;
    gap: 10px;

    & h1{
        width: 45vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.play-button{
    padding-left: 20px;
   & button{
       width: 50px;
       height: 50px;
        & img {
            background-color: #1ed760;

        }
   }
}