.main-container {
    background: #121212;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-icon-log-out-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    .log-out-btn {
        color: #121212;
        background-color: #1ed760;
        padding: 10px;
        font-size: 12px;
        border-radius: 30px;
    }

    .log-out-btn:hover {

        scale: 1.05
    }


    .log-out-btn:active {
        scale: 0.95;
    }
}

.head-of-main {
    display: flex;
    height: 50px;
    padding-bottom: 5px;

}

.header-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
    width: 100%;
    background-color: #121212;
}

.left-right-nav button img {
    background-color: #000000;
    border-radius: 100%;
    padding: 3px;

}

.left-right-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;


}

.fast-access {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    & h1 {

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.play-button {
    padding-left: 5px;

    & button {
        width: 60px;
        height: 60px;

        & img {
            background-color: #1ed760;
            width: 100%;
            height: 100%;

        }
    }
}