.main-container {
    background: #121212;
    padding: 0 15px 15px 15px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 20px;
    position: relative;
    overflow-y: scroll;

}

.head-of-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

}
.header-container{
    display: flex;

    flex-direction: column;
}

.left-right-nav button img {
    background-color: black;
    border-radius: 100%;
    padding: 3px;

}

.left-right-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}