
.tracks-wrapper {
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Gotham Light", sans-serif;
    font-size: 14px;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(87, 85, 85, 0.58);
    position: sticky;
    top: 129px;
    background-color: #1a1a1a;

    .album-div {
        width: 9vw;
    }
}

.during-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;

}

.numbering-title {
    display: flex;
    gap: 15px;
}

.track-name:hover {
    text-decoration: underline;
}

.track-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.track-wrapper:hover {
    background-color: #3b3a3a;
    border-radius: 4px;
}

.general-info {
    display: flex;
    gap: 10px;
    align-items: center;

    padding-left: 10px;
    padding-right: 30px;
}

.img-title-artists {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}


.album-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

}

.album-img img {

    object-fit: cover;
    width: 50px;
    height: 50px;


}

.duration {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Gotham Light', sans-serif;

    color: #b3b3b3;

}

.title-artists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gotham Light', sans-serif;
    font-weight: lighter;
    color: #b3b3b3;

}

.title-artists a {
    font-size: 14px;
    color: white;

    white-space: nowrap;
    font-family: 'Gotham Light', sans-serif;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

}

.artists-box {
    display: flex;
    width: 100%;
    gap: 4px;
}


.album-title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    width: 20vw;
    color: #b3b3b3;


}

.album-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 600;

}

.artists-mapped {
    display: flex;
    flex-direction: row;
    gap: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 600;
    color: #b3b3b3;


    & a {
        font-family: 'Gotham Light', sans-serif;
        font-weight: 600;
        color: #b3b3b3;


    }

    & a:hover {
        text-decoration: underline;
        color: white;
    }
}

.song-hover-over img {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-duration-heart {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;


    & div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .heart-space {
        width: 30px;
        margin-top: 2px;
    }

}


.playlist-track-added_at {

    color: #b3b3b3;

    display: flex;
    justify-content: left;

    & p {

        font-family: 'Gotham Light', sans-serif;
        font-size: 14px;
        font-weight: 300;


    }
}
.date-added-duration-wrapper{
    display: flex;
    justify-content: space-between;
    width: 17.5vw;
    align-items: center;
}



@media only screen and (width < 1250px) {
    .playlist-track-added_at {
        display: none;
    }
    .date-added-duration-wrapper{
        width: initial;
    }
}

@media only screen and (width < 1000px) {
    .album-div {
        display: none;
    }

    .album-title {
        display: none;
    }
}