:root {
    --default-background-color: #3e3c3c69;

}

/* genre */
.genre-skeleton {
    cursor: pointer;
    height: 200px;
    border-radius: 10px;
    background-color: #242424;
    animation: brightness-animation 3s linear infinite;
}

/* artist */
.artists-wrapper {
    cursor: pointer;
    height: 250px;
    border-radius: 8px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.artist-img-skeleton {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: var(--default-background-color);
    margin-bottom: 20px;
    animation: brightness-animation 3s linear infinite;
}

.artist-info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 60px;
}

.artist-name-skeleton {
    width: 80px;
    height: 12px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.artist-type-skeleton {
    width: 50px;
    height: 10px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

/* playlist */

.playlist-wrapper {
    cursor: pointer;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 5px;

}

.playlist-img-skeleton {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background-color: var(--default-background-color);
    margin-bottom: 25px;
    margin-top: -5px;
    animation: brightness-animation 3s linear infinite;
}

.playlist-info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 70px;
    padding-bottom: 10px;
}

.playlist-name-skeleton {
    width: 80px;
    height: 12px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.playlist-type-skeleton {
    width: 50px;
    height: 10px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}


/* album */

.album-wrapper {
    cursor: pointer;
    height: 260px;
    border-radius: 8px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

}

.album-img-skeleton {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background-color: var(--default-background-color);
    margin-bottom: 20px;
    margin-top: 10px;
    animation: brightness-animation 3s linear infinite;
}

.album-info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 60px;
    padding-bottom: 10px;
}

.album-name-skeleton {
    width: 80px;
    height: 12px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.album-type-skeleton {
    width: 50px;
    height: 10px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.album-details-skeleton {
    display: flex;
    gap: 10px;
}

.album-release-year-skeleton {
    width: 30px;
    height: 10px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}


/* track */

.track-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 10px;
}

.track-nth-skeleton {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.track-info-skeleton {
    display: flex;
    gap: 20px;
    align-items: center;
}

.track-name-artists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.track-img-skeleton {
    width: 50px;
    height: 50px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;

}

.track-name-skeleton {
    width: 100px;
    height: 10px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.track-artists-skeleton {
    width: 60px;
    height: 10px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
}

.track-album-skeleton {
    width: 120px;
    height: 10px;
    background-color: var(--default-background-color);
    margin-right: 75px;
    animation: brightness-animation 3s linear infinite;
}

.track-duration-skeleton {
    display: flex;
    gap: 5px;
    align-items: center;
}

.track-minutes-skeleton, .track-seconds-skeleton {
    width: 10px;
    height: 12px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.track-two-dots {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.track-two-dots div {
    height: 4px;
    width: 4px;
    background-color: var(--default-background-color);
    border-radius: 10px;
    animation: brightness-animation 3s linear infinite;

}


/* episode */

.episode-skeleton-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 20px 40px;
    border-bottom: 2px solid #262626;
    width: 80%;
}

.episode-img-skeleton {
    width: 112px;
    height: 112px;
    border-radius: 5px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;

}

.episode-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.episode-title-skeleton {
    width: 250px;
    height: 15px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.episode-description-skeleton {
    width: 300px;
    height: 8px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.episode-smaller-details-skeleton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.episode-explicit-skeleton {
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

.episode-date-skeleton {
    width: 40px;
    height: 8px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;

}
.episode-small-dot-skeleton{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;


}
.episode-duration-skeleton{
    width: 90px;
    height: 8px;
    background-color: var(--default-background-color);
    animation: brightness-animation 3s linear infinite;
}

/* top result */
.top-res-skeleton-wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    & h2 {
        color: white;
    }
    gap: 20px;

}

.top-res-inner-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 25px 25px 25px 25px;
    gap: 30px;
    .top-res-image-skeleton{
        width: 92px;
        height: 92px;
        background-color: var(--default-background-color);
        animation: brightness-animation 3s linear infinite;

    }

    .top-res-track-name-skeleton {
        width: 160px;
        height: 15px;
        background-color: var(--default-background-color);
        animation: brightness-animation 3s linear infinite;
    }

    .top-res-track-artists-skeleton {
        display: flex;
        gap: 10px;
        align-items: center;

        .top-res-explicit-skeleton {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background-color: var(--default-background-color);
            animation: brightness-animation 3s linear infinite;
        }
        .top-res-artist-skeleton{
            width: 80px;
            height: 10px;
            background-color: var(--default-background-color);
            animation: brightness-animation 3s linear infinite;
        }
        .top-res-type-skeleton {
            width: 50px;
            height: 20px;
            border-radius: 10px;
            background-color: var(--default-background-color);
            animation: brightness-animation 3s linear infinite;
        }
    }
}


/* top songs */

.top-song-skeleton-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .top-song-details-skeleton{
        display: flex;
        gap: 10px;
        align-items: center;

        .top-song-image-skeleton{
            width: 40px;
            height: 40px;
            background-color: var(--default-background-color);
            animation: brightness-animation 3s linear infinite;
        }

        .top-song-title-artist-skeleton{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
           .top-song-title-skeleton{
                width: 150px;
                height: 10px;
                background-color: var(--default-background-color);
                animation: brightness-animation 3s linear infinite;
            }

          .top-song-explicit-artists {
                display:flex;
                gap: 10px;
              align-items: center;
                :nth-child(1){
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background-color: var(--default-background-color);
                    animation: brightness-animation 3s linear infinite;
                }
                :nth-child(2){
                    width: 70px;
                    height: 5px;
                    background-color: var(--default-background-color);
                    animation: brightness-animation 3s linear infinite;
                }
            }
        }
    }
    .top-song-duration-skeleton{
        width: 30px;
        height: 10px;
        border-radius: 2px;
        background-color: var(--default-background-color);
        animation: brightness-animation 3s linear infinite;
    }
}

.top-episode-skeleton-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    align-items: center;
    padding-bottom: 35px;
    gap: 15px;
    border-radius: 8px;

    .top-episode-image-skeleton-wrapper{
        position: relative;
        .top-episode-image-skeleton{
            z-index: 1;
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin: 20px 20px 10px 20px;
            animation: brightness-animation 3s linear infinite;
            background-color: var(--default-background-color);
        }
        .top-episode-small-image-skeleton{
            position: absolute;
            width: 35px;
            height: 35px;

            left: 10px;
            bottom: 0;
            border-radius: 3px;
            animation: brightness-animation 2s ease-in-out infinite;
            background-color: var(--default-background-color);
            z-index:2;

        }
    }

    .top-episode-title-skeleton{
        width: 75%;
        height: 15px;
        border-radius: 4px;
        animation: brightness-animation 3s ease-in-out infinite;
        background-color: var(--default-background-color);
    }

    .top-episode-info-skeleton{
        display: flex;
        gap:10px;
        align-items: center;
        width: 75%;
        justify-content: space-evenly;
        .top-episode-explicit-skeleton{
            width: 20px;
            height: 15px;
            border-radius: 3px;
            animation: brightness-animation 3s ease-in-out infinite;
            background-color: var(--default-background-color);
        }
        .top-episode-date-time-skeleton{
            width: 100%;
            height: 10px;
            border-radius: 3px;
            animation: brightness-animation 3s ease-in-out infinite;
            background-color: var(--default-background-color);
        }
    }
}


@keyframes brightness-animation {
    0% {
        background-color: var(--default-background-color);
    }
    50% {
        background-color: rgb(93, 91, 91);

    }
    100% {
        background-color: #3e3c3c69;

    }
}

