/* genre */
.genre-skeleton {
  cursor: pointer;
  height: 200px;
  border-radius: 10px;
  background-color: #242424;
  animation: brightness-animation 3s linear infinite;
}

/* artist */
.artists-wrapper {
  cursor: pointer;
  height: 250px;
  border-radius: 8px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.artist-img-skeleton {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: #3e3c3c69;
  margin-bottom: 20px;
  animation: brightness-animation 3s linear infinite;
}

.artist-info-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 60px;
}

.artist-name-skeleton {
  width: 80px;
  height: 12px;
  background-color: #3e3c3c69;
  animation: brightness-animation 3s linear infinite;
}

.artist-type-skeleton {
  width: 50px;
  height: 10px;
  background-color: #3e3c3c69;
  animation: brightness-animation 3s linear infinite;
}

/* playlist */

.playlist-wrapper {
  cursor: pointer;
  height: 260px;
  border-radius: 8px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  
}

.playlist-img-skeleton {
  border-radius: 5px;
  width: 150px;
  height: 150px;
  background-color: #3e3c3c69;
  margin-bottom: 20px;
  margin-top: 10px;
  animation: brightness-animation 3s linear infinite;
}

.playlist-info-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 70px;
  padding-bottom: 10px;
}

.playlist-name-skeleton {
  width: 80px;
  height: 12px;
  background-color: #3e3c3c69;
  animation: brightness-animation 3s linear infinite;
}

.playlist-type-skeleton {
  width: 50px;
  height: 10px;
  background-color: #3e3c3c69;
  animation: brightness-animation 3s linear infinite;
}


/* album */

.album-wrapper {
    cursor: pointer;
    height: 260px;
    border-radius: 8px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    
  }
  
  .album-img-skeleton {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background-color: #3e3c3c69;
    margin-bottom: 20px;
    margin-top: 10px;
    animation: brightness-animation 3s linear infinite;
  }

  .album-info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  
  .album-name-skeleton {
    width: 80px;
    height: 12px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }
  
  .album-type-skeleton {
    width: 50px;
    height: 10px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }

  .album-details-skeleton {
    display: flex;
    gap: 10px;
  }

  .album-release-year-skeleton{
    width: 30px;
    height: 10px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }


  /* track */

  .track-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .track-nth-skeleton{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }

  .track-info-skeleton{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .track-name-artists{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
  }

  .track-img-skeleton{
    width: 50px;
    height: 50px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
    
  }

  .track-name-skeleton{
    width: 100px;
    height: 10px;
    background-color:#3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }

  .track-artists-skeleton{
    width: 60px;
    height: 10px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }

  .track-album-skeleton{
    width: 120px;
    height: 10px;
    background-color: #3e3c3c69;
    margin-right: 75px;
    animation: brightness-animation 3s linear infinite;
  }

  .track-duration-skeleton{
    display: flex;
    gap: 5px;
    align-items: center;
  }

.track-minutes-skeleton, .track-seconds-skeleton{
    width: 10px;
    height: 12px;
    background-color: #3e3c3c69;
    animation: brightness-animation 3s linear infinite;
  }
  
  .track-two-dots{
    display: flex;
    flex-direction: column;
    gap: 2px
  }

  .track-two-dots div {
    height: 4px;
    width: 4px;
    background-color: #3e3c3c69;
    border-radius: 10px;
    animation: brightness-animation 3s linear infinite;

  }

@keyframes brightness-animation {
  0% {
    background-color: #3e3c3c69;
  }
  50% {
    background-color: rgb(93, 91, 91);
  }
  100% {
    background-color: #3e3c3c69;
  }
}

