.all-wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 300ms ease-in-out;
    overflow-y: scroll;
    height: 100%
}


.first-row {
    display: flex;
    gap: 10px;
}


/* Top Result */

.top-result-wrapper {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    position: relative;

    & h2 {
        color: white;
    }

    .track-hover-button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 15px;
        z-index: 3;

        & div {
            width: 50px;
            height: 50px;
            background-color: #1ed760;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.top-track-box {
    display: flex;

    flex-direction: column;
    gap: 30px;

    background-color: #181818;
    width: 100%;
    border-radius: 6px;
    padding: 25px 25px 25px 25px;
    transition: all 300ms linear;

    &:hover {
        background-color: #302f2f;
        cursor: pointer;
    }

    .track-name {
        font-size: 27px;
        color: white;
        width: 100%;
    }

    .track-artist-type {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        margin-top: -15px;

        & a:hover {
            text-decoration: underline;
        }

        & p {
            font-size: smaller;
            color: white;
            background-color: #131313;
            border-radius: 20px;
            padding: 10px;
        }

        & a {
            font-size: smaller;
            color: white;
            font-family: "Gotham Light", sans-serif;
            font-weight: 600;

        }
    }
}


/* Songs */

.top-songs-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;

    align-items: flex-start;
    gap: 20px;

    & h2 {
        color: white;
    }

    .top-songs-box{
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;

    }
    .top-song{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        align-items: center;
        .song-img-details{
            display: flex;
            gap: 15px;

            align-items: center;
            color: white;
            font-family: "Gotham Light", sans-serif;

            font-size: 14px;
            width: 60%;
            .song-details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 8px;


                & a:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }


            .interactive-album-img{
                position: relative;

                .play-button{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .song-artists{
                display: flex;
                gap: 5px;

                .song-artists-box{
                    display: flex;
                    white-space: nowrap;
                    gap: 4px;
                    overflow-x: hidden;

                    }
                & a:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
                & a{
                    color: #b3b3b3;
                    font-weight: bold;
                    font-size: 14px;
                    font-family: "Gotham Light", sans-serif;
                }
            }
        }

        .duration{
            color: #a7a7a7;
            font-family: "Gotham Light", sans-serif;
            font-weight: bold;
            font-size: 14px;

        }

        .song-duration-heart{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px
        }

    }
}

/* Other tops */
.top-artists-wrapper, .top-albums-wrapper, .top-playlists-wrapper, .top-podcasts-wrapper, .top-episodes-wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;

    & h2 {
        color: white
    }

    .top-artists, .top-albums, .top-playlists, .top-podcasts, .top-episodes {
        display: flex;
        gap: 25px;
        justify-content: space-between;
        width: calc(100% - 5px);
        overflow-x: scroll;
    }

    & ::-webkit-scrollbar{
        display: none;
    }
}


/* Each top episode from reusables */

.top-episode-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    gap: 30px;

    padding-bottom: 25px;

    .top-episode-inner-details {
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding: 0 5px 0 20px;
        justify-content: space-between;
        height: 100%;
    }
    .top-episode-image{
        padding: 0 15px 0 15px;
        position: relative;

        & img {
            border-radius: 5px;
            margin-top: 15px;
            object-fit: cover
        }

        .top-episode-show-image{
            position: absolute;
            z-index: 2;
            left: 10px;
            bottom: -10px;
        }
    }

    .top-episode-name{
        color: white;
        padding: 0 0 4px;
        font-size: 14px;
    }

    .top-episode-explicit-or-details{
        display: flex;
        gap: 10px;
        align-items: center;

        & p{
            color: #b3b3b3;
            font-size: 11px;
            padding: 8px 0 0;
            font-family: 'Gotham Light', sans-serif;
            font-weight: 600;
            margin-bottom: 8px;
        }
    }


}

.top-episode-wrapper:hover{
    background-color: #302f2f;
}