.application-wrapper {
 padding: 8px;

}

.nav-lib-wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 20%;
  height: 100%;
}


.nav-lib-main-wrapper{
  display: flex;
  gap: 8px;
  height: 100%;
}


.main{
  width: 80%;


}


.loading-anim {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: loading 2s alternate-reverse infinite;
}

@keyframes loading {
  from {
    filter: brightness(30%);
    transform: rotate(0deg);
  }

  to {
    filter: brightness(100%);
    transform: rotate(360deg);
  }
}
