.application-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  margin: 8px;
  gap: 8px;
  height: 100%;
  min-height: 100%;
 
  grid-template-areas:
    "a b b b b"
    "c b b b b"
    "d d d d d";
}

.nav {
  grid-area: a;
  
}

.users-stuff {
  grid-area: c;
 
}

.search-home {
  grid-area: b;
 
}

.player {
  grid-area: d;
  
}

.loading-anim {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: loading 2s alternate-reverse infinite;
}

@keyframes loading {
  from {
    filter: brightness(30%);
    transform: rotate(0deg);
  }

  to {
    filter: brightness(100%);
    transform: rotate(360deg);
  }
}
