@font-face {
  font-family: 'Gotham Bold';
  src: url("/Spotify-Font/GothamBold.ttf");
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("/Spotify-Font/GothamMedium.ttf");

  
}

:root {
  --div-bg-color: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gotham Bold';
}

body{
  background-color: black;
}