.playlist-page-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 10px;
}

.general-info-wrapper {
    display: flex;
    gap: 25px;
    height: fit-content;
    width: 100%;
    align-items: end;
    justify-content: left;

    padding-top: 15px;

    .img-placement {
        height: 18vw;
        width: 18vw;

        & img {
            object-fit: cover;
            box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
            height: 100%;
            width: 100%;
            cursor: pointer;
            transition: all 200ms linear;
        }

        & img:hover {

            scale: 1.05
        }
    }


    .pl-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 80%;
        padding-bottom: 10px;

        .pl-type {
            color: white;
            font-family: 'Gotham Light', sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: -10px;
        }

        .pl-name, .pl-desc {
            font-family: 'Gotham Medium', sans-serif;
            overflow: hidden;
            font-size: 5vh;
            text-overflow: ellipsis;

            word-wrap: break-word;
            word-break: break-word;
        }

        .pl-desc {
            color: #b3b3b3;
            font-size: 1vw;
            font-family: 'Gotham Light', sans-serif;
            font-weight: 600;
        }

        .owner-likes-total-dur {
            display: flex;
            gap: 3px;

            :nth-child(1) {
                color: white;
                font-size: 14px;
                font-family: 'Gotham Bold', sans-serif;

            }

            :nth-child(2) {
                color: white;
                font-size: 14px;
                font-family: 'Gotham Light', sans-serif;
                font-weight: 600;
            }

            :nth-child(3) {
                color: white;
                font-size: 14px;
                font-family: 'Gotham Light', sans-serif;
                font-weight: 600;
            }
        }


    }
}

.numbering-title-duration {
    display: flex;
    position: sticky;
    top: 85px;
    background-color: #121212;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #303030;

    .i-title {
        display: flex;
        gap: 15px;
        width: 25vw;

    }

    .i-album {
        width: 13vw;
    }

    & div {
        font-family: 'Gotham Light', sans-serif;
        font-weight: 600;
    }

    color: #b3b3b3;
}

@media only screen and (width < 1250px){
    .date_added_at{
        display: none;
    }
}

@media only screen and (width < 1000px){
    .i-album{
        display: none;
    }
}