
.search-box{
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
   
 }

 .search-related-stuff {
    height: 100%;
    overflow-y: scroll;
 }


