.artists-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.each-artist {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  padding: 20px;
  transition: all 300ms linear;
  position: relative;
}

.each-artist .artist-img {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.artist-img{
  z-index: 1;
}
.artist-img img {
  border-radius: 100%;
  object-fit: cover;
}

.no-artist-img {
  background-color: #302f2f;
  padding: 30px;
}

.each-artist:hover {
  background-color: #302f2f;
}

.each-artist a {
  font-size: clamp(12px, 2.5vw, 0.9rem);
  word-break: break-all;

  max-width: 150px;
}
.each-artist a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.each-artist p {
  align-items: flex-end;
  color: #a7a7a7;
  font-size: 12px;
  font-family: "Gotham Medium", sans-serif;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  z-index: 1;
}


.artist-hover-button{
  position: absolute;
    z-index: 2;
  margin-left: 80px;
  margin-top: 100px;
   
  }

.artist-hover-button div {
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
