@import '../../../../../global.css';

.artists-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.each-artist {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
    height: 100%;
    width: 100%;
    transition: all 300ms linear;
    position: relative;

}


.artist-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.artist-img {
    width: fit-content;
    height: fit-content;
}

.artist-img img {
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
}

.no-artist-img {
    background-color: #302f2f;
    padding: 30px;
}

.each-artist:hover {
    background-color: #302f2f;
}

.each-artist a {
    font-size: clamp(12px, 2.5vw, 2vh);
    word-wrap: break-word;
    word-break: break-word;

    max-width: 150px;
}

.each-artist a:hover {
    text-decoration: underline;
    cursor: pointer;

}

.each-artist p {
    align-items: flex-end;
    color: #a7a7a7;
    font-size: 12px;
    font-family: "Gotham Medium", sans-serif;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    z-index: 1;

}


.artist-hover-button {
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    margin-top: 50%;
    animation: pop-up-button-animation-artists 200ms linear;

    & div:hover {
        scale: 1.03
    }


}

.artist-hover-button div img {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #1ed760;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);

}
